
.userReview{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 15px;
    margin-left: 15px;
    row-gap: 30px;
    }
    
    @media (max-width:900px) {
        .userReview{
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            gap: 15px;
            margin-left: 15px;
            row-gap: 30px;
            } 
    }
    
    @media (max-width:600px) {
        .userReview{
            display: grid;
            grid-template-columns: repeat(1 , 1fr);
            gap: 15px;
            row-gap: 30px;
            margin-left: 15px;
            } 
    }